---
import OutPage from "astro-out-proxy/components/OutPage";
---

<!-- Default UI -->
<OutPage />

<!-- Custom UI - you must add the customUi parameter for this to work!-->
<OutPage customUi>
  <a id="leaveButton">Leave</a>
</OutPage>
